# Created by .ignore support plugin (hsz.mobi)


.gradle
.idea

#token
application-oauth.properties
application-real-oauth.properties
src/main/resources/application-oauth.properties
src/main/resources/application-real-oauth.properties
appplication-real-db.properties

build

out